

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main_container {
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

.board {
    margin: 20px;
    border-radius: 10px;
}

.completed {
    color: darkgray;
    text-decoration: line-through;
}

.delete {
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
}

.brand:hover {
    background-color: transparent;
}

.board:nth-child(n) {
    border: 2px solid black;
    color: white;
}

.board:nth-child(2n) {
    border: 2px solid black;
    color: white;
}

.board-name {
    color: white;
}

.join {
    width: 40%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background-color: slategray;
}

.join-container {
    text-align: center;
}

.profile {
    border:2px solid gray;
    border-radius: 4px;
    padding: 2px;
    margin-top: 20px;
}


.navbar {
    width: 90%;
    margin: 0 auto;


}


.message {
    background-color: lightgreen;
}

.form-background {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: gray;
}

.form-container {
    background-color: gray;
}

.navbar-header a {
    border-right:1px solid black;
}

.jumbotron {
    background-color: lightgray;
}

.form-control-inline {
    width: 75%
}

.btn-small {
    background-color: transparent;
    color: white;
}
.btn-small:hover {
    background-color: transparent;
    color: darkblue;
}

.right {
    float: right;
}

.navbar-small {
    width: 40%;
}

.navbar a,h1,h3,h4 {
    color: white;
}

.navbar-container {
    background-color: gray transparent;
    text-align: left;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row p,a {
    color: white;
}

.info {
    margin-left: 0px;
    margin-right: 15px;
}


.bordered {
    background-color: ;
    border: 2px solid black;
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;

}


body {
    text-align: center;
    font-family: Futura,"Arial Narrow", Arial, sans-serif;
    color: white;
    background-color: lightgray;
    background-image: url(https://farm4.staticflickr.com/3533/3954225645_70e1a01bd1_b.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.alert-container {
    padding-top: 20px;
}














