<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
    <link rel = "stylesheet" type = "text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  </head>
  <body style="background-color:#CCFFFF">
    <div class = 'container'>
    <div class = 'row' id = 'header'>
      <div class = 'col-md-2'><h2><strong>Collaborate</strong></h2>
      </div>
      <div class = 'col-md-6'>
        <h2>Keep track of things you want to do, and find people to do them with</h2>
      </div>
    </div>
      <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/sort/new">New</a></li>
          <li><a href="/sort/top">Top</a></li>
          <li><a href="/user_tasks">Yours</a></li>
        </ul>
      </li>
      <li><a href="/new_task">New</a></li>
    
    <form class="navbar-form navbar-left" action = '/login/' method = 'POST' role="login">
      <div class="form-group">
        {% csrf_token %}
        <input type="text" class="form-control" name = 'username'placeholder="username">
        
      </div>
      <div class='form-group'>
        <input type="password" class="form-control" name = 'password'placeholder="password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
    <li><a href="/new_user">Join</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  {% block content %}
    <h4 color='blue'>{{ message }}</h4>

    <div class = 'row' id = 'tasklist'>
    
      {% for task in tasks %}
        <div class = 'row' id = 'taskitem' style = 'background-color:{% cycle color2 color3 %}'>

          <p><strong>{{ task.name }}</strong>:{{ task.description }}</p>
          <p>
          <small>
          {% for user in task.users.all %}
          <a href='/user/{{ user.username }}'></a>{{ user.username }}
          {% endfor %}
          {{task.location}} {{ task.date|date:"D d M"}} <a href="/join/{{ task.id }}">Connect</a>
          </small>

          </p>
        </div>
      {% endfor %}
    </div>
    {% endblock %}
    </div>
    </div>
  </body>
</html>